/*Navigation Style*/
.header {
    background-color: var(--white-color);
}

.navbar {
    height: 100px;
}

.navbar__logo {
    width: 7rem;
    min-height: 100%;
}

.header__nav--menu {
    position: relative;
    padding: 2rem 0;
}

.header__nav__menu--title {
    color: var(--text-dark-color);
}

.header__nav__menu--title:hover {
    color: var(--primary-color);
}

.header__nav--menu {
    white-space: nowrap;
}

.header__nav--menu:hover .header__nav--submenu {
    visibility: visible;
    opacity: 1;
}

.header__nav__menu--title {
    font-size: 1.7rem;
}

.header__nav--submenu {
    position: absolute;
    top: 7rem;
    right: -2rem;
    list-style-type: none;
    background-color: var(--white-color);
    border: 1px solid;
    visibility: hidden;
    opacity: 0;
    padding: 0 2.5rem;
    z-index: 100;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.header__nav--submenu.show {
    display: block;
    visibility: visible;
    opacity: 1;
}

.header__nav--submenu-link {
    font-size: 1.6rem;
    color: var(--text-dropdown-nav);
    font-weight: 400;
    white-space: nowrap;
}

.header__nav--submenu-link:hover {
    color: var(--primary-color);
}

.header__search {
    letter-spacing: .05rem;
}

.header__search:focus {
    box-shadow: none;
    background-color: var(--bg-primary);
}

.header__user {
    height: 5rem;
    width: 16rem;
    background-color: var(--secondary-color) !important;
    color: var(--white-color) !important;
    transition: linear 0.2s;
}

.header__user:hover {
    background-color: rgb(9, 113, 158);
}

.header__user--text {
    white-space: nowrap;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
}
