/*Navigation Style*/
.header {
    background-color: var(--white-color);
}

.navbar {
    height: 100px;
}

.navbar__logo {
    width: 7rem;
    min-height: 100%;
}

.header__nav--menu {
    position: relative;
    padding: 2rem 0;
}

.header__nav__menu--title {
    color: var(--text-dark-color);
}

.header__nav__menu--title:hover {
    color: var(--primary-color);
}

.header__nav--menu {
    white-space: nowrap;
}

.header__nav--menu:hover .header__nav--submenu {
    visibility: visible;
    opacity: 1;
}

.header__nav__menu--title {
    font-size: 1.6rem;
}

.header__nav--submenu {
    position: absolute;
    top: 7rem;
    right: -2rem;
    list-style-type: none;
    background-color: var(--white-color);
    border: 1px solid;
    visibility: hidden;
    opacity: 0;
    padding: 0 2.5rem;
    z-index: 100;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.header__nav--submenu.show {
    display: block;
    visibility: visible;
    opacity: 1;
}

.header__nav--submenu-link {
    font-size: 1.6rem;
    color: var(--text-dropdown-nav);
    font-weight: 400;
    white-space: nowrap;
}

.header__nav--submenu-link:hover {
    color: var(--primary-color);
}

.header__search {
    font-size: 1.6rem;
}

.header__search--icon {
    padding-right: 0 !important;
}

.header__search:focus {
    box-shadow: none;
    background-color: var(--bg-primary);
}

.header__user {
    height: 3.4rem;
    max-width: 16rem;
    background-color: var(--secondary-color) !important;
    color: var(--white-color) !important;
    transition: linear 0.2s;
}

.header__user:hover {
    background-color: rgb(9, 113, 158) !important;
}

.header__user--text {
    white-space: nowrap;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0.4rem;
}

.user-contexmenu {
    position: absolute;
    left: 0;
    top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    background-color: var(--white-color);
    border-radius: 1.5rem;
    padding: 0.8rem 0;
    font-size: 1.8rem;
    white-space: nowrap;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
}

.user-contexmenu.show {
    visibility: visible;
    opacity: 1;
}

.user-contexmenu__title {
    color: var(--text-dark-color);
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.user-contexmenu__title:hover {
    color: var(--primary-color);
}

.user-contexmenu__name {
    color: var(--secondary-color);
    cursor: default;
}

.user-contexmenu__logout {
    transition: all 0.3s;
    cursor: pointer;
}

.user-contexmenu__logout:hover {
    color: #DC143C;
}

/*Modify Bootstrap*/
.navbar-toggler {
    padding: 0.8rem;
    border-radius: 50%;
    transition: 0.3s;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler:hover {
    border: solid 1px var(--secondary-color);
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
}

.offcanvas-header .btn-close {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding: 0.8rem;
    margin: 0;
    margin-right: auto;
}

.btn-close:focus {
    box-shadow: none;
    border: solid 1px var(--secondary-color);
}