.edite_pen {
    color: #1E90FF;
    cursor: pointer;
}

.delete_trash {
    color: #DC143C;
    cursor: pointer;
}

.answered {
    color: #16A34A;
    cursor: pointer;
}

.does-not-answer {
    color: #DC143C;
    cursor: pointer;
}