:root {
    --primary-color: #16A34A;
    --secondary-color: #0EA5E9;
    --bg-primary: #F3F4F6;
    --text-dark-color: #030204;
    --text-dropdown-nav: #3f3f46;
    --white-color: #FFF;
    --font-family: IRANSans;
}
